.movie {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  color: #000;
  position: relative;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
}

.movie__image {
  width: 100%;
  height: 100%;
  aspect-ratio: 1.785 / 1;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
}

.movie__caption {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.movie__caption-title {
  width: 100%;
  padding: 8px 16px 12px 16px;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
}

.movie__caption-heading {
  margin: 0;
  padding: 0;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #000;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.215;
}

.movie__button {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-size: 50%;
  cursor: pointer;
}

.movie__button_type_like {
  background-image: url('../../images/icon-like-inactive.svg');
}

.movie__button_type_delete {
  opacity: 0;
  background-image: url('../../images/icon-close.svg');
}

.movie__caption:hover .movie__button_type_delete {
  opacity: 1;
}

.movie__button_active {
  background-image: url('../../images/icon-like-active.svg');
}

.movie__caption-length {
  margin: 0;
  padding: 0 16px 16px;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.18;
  color: #a0a0a0;
}

@media (max-width: 915px) {
  .movie__caption-title {
    padding: 9px 14px;
  }

  .movie__caption-length {
    padding-left: 14px;
    padding-bottom: 12px;
  }
}

@media (max-width: 399px) {
  .movie__button_type_delete {
    opacity: 1;
  }

  .movie__caption-title {
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 7px;
  }

  .movie__caption-heading {
    font-size: 12px;
    line-height: 1.25;
  }

  .movie__caption-length {
    font-size: 10px;
    line-height: 1.2;
    padding-bottom: 14px;
  }
}
