.movies__list {
  margin: 0 auto;
  padding: 70px 0 10px;
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 364px);
  gap: 37px 24px;
  justify-items: center;
  align-items: center;
}

.movies__more {
  width: 100%;
  padding: 50px 0 80px;
  display: flex;
  justify-content: center;
}

.movies__more-button {
  width: 320px;
  aspect-ratio: 80 / 9;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
}

@media (max-width: 1087px) {
  .movies__list {
    gap: 30px;
    grid-template-columns: repeat(2, minmax(339px, 478px));
  }
}

/* @media (max-width: 689px) {
  .movies__list {
    grid-template-columns: 100%;
  }
} */
