.page {
  margin: 0 auto;
  background-color: #fff;
  max-width: 1280px;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  font-family: Inter, Arial, sans-serif;
  text-rendering: optimizeLegibility;
}

.page__heading {
  margin: 0 auto;
  text-align: center;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.16;
  letter-spacing: -0.04em;
}
