.about-project {
  width: calc(100% - 2 * 70px);
  padding: 110px 0;
}

.about-project__details {
  padding: 70px 0 110px;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.about-project__detail-heading {
  margin: 0 0 26px 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
}

.about-project__detail-text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
}

.about-project__progress-bar {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto auto;
  align-items: center;
  justify-items: center;
  row-gap: 14px;
}

.about-project__progress-bar-first-line {
  align-self: stretch;
  padding: 9px 0;
  justify-self: stretch;
  text-align: center;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  background-color: #f2f2f2;
}

.about-project__progress-bar-second-line {
  margin: 0;
  background-color: transparent;
  color: #a0a0a0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
}

.about-project__progress-bar-first-cell {
  background-color: #000;
  color: #fff;
}

@media (max-width: 800px) {
  .about-project {
    width: calc(100% - 2 * 50px);
    padding: 90px 0;
  }
  .about-project__detail-text {
    font-size: 12px;
    line-height: 1.5;
  }
}
