.about-me {
  box-sizing: border-box;
  width: 100%;
  padding: 110px 70px;
}

.person-info {
  padding: 66px 0 0 0;
  display: flex;
  justify-content: space-between;
}

.person-info__text {
  max-width: 600px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.person-info__heading {
  margin: 0 0 18px 0;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.16;

  letter-spacing: -0.04em;
}

.person-info__subheading {
  margin: 0 0 26px 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11;
}

.person-info__description {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
}

.person-info__link {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.215;
}

.person-info__picture {
  width: 270px;
  height: 326px;
  object-fit: cover;
  border-radius: 10px;
}
