.portfolio {
  box-sizing: border-box;
  width: calc(100% - 2 * 70px);
  padding-bottom: 125px;
}

.portfolio__heading {
  margin: 0 0 40px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.11;
  color: #a0a0a0;
}

.portfolio__item {
  box-sizing: border-box;
  border-bottom: 1px solid #e8e8e8;
}

.portfolio__item:last-child {
  border-bottom: none;
}

.portfolio__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portfolio__item-title {
  margin: 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.67;
  letter-spacing: -0.04em;
}

.portfolio__item-button {
  border-style: none;
  background-color: transparent;
  transform: rotate(-45deg);
  font-weight: 400;
  font-size: 30px;
  line-height: 2;
  letter-spacing: -0.04em;
}

@media (max-width: 1087px) {
  .portfolio {
    width: calc(100% - 2 * 50px);
    padding-bottom: 90px;
  }

  .portfolio__item-title {
    font-size: 28px;
    line-height: 1.79;
  }

  .portfolio__item-button {
    font-size: 28px;
    line-height: 2.14;
  }
}

@media (max-width: 689px) {
  .portfolio {
    width: calc(100% - 2 * 14px);
    padding-bottom: 50px;
  }

  .portfolio__heading {
    font-size: 14px;
    line-height: 1.43;
    margin-bottom: 20px;
  }

  .portfolio__item-title {
    font-size: 18px;
    line-height: 1.56;
    padding: 20px 0;
  }

  .portfolio__item-button {
    font-size: 18px;
    line-height: 1.56;
  }
}
